.App {
  text-align: center;
}
div {
  text-align: center;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 30px;
}
body {
  background-color: #e5eff5;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  border-radius: 15px;
  border: 2px solid rgb(58, 57, 57);
  margin: 20px;
}

input {
  margin: 4px;
  border: 2px solid rgb(99, 96, 96);
  border-radius: 4px;
}
label {
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn {
  margin: 10px;
  background-color: rgb(243, 249, 249);
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(99, 96, 96);
}
.imageContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 320px;
  width: 370px;
}
.templateSelector {
  margin: 4px;
  border: 2px solid rgb(99, 96, 96);
  border-radius: 4px;
}
