.App {
  text-align: center;
}
div {
  text-align: center;
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 60px;
}
body {
  background-color: #d8e6ef;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  border-radius: 15px;
  border: 2px solid black;
  margin: 40px;
}

input {
  margin: 5px;
  border: 2px solid black;
  border-radius: 4px;
}
label {
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn {
  margin: 20px;
  background-color: azure;
  width: 80px;
  height: 40px;
  border-radius: 4px;
}
